/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ===================================*/
body
{
	margin: 20px;
	margin-top: 5px;
}

.form-output
{ 
	display: block;
	margin: 20px auto ;
	min-width: 600px;
	max-width: 1000px;
	overflow: auto;
	height: 380px;
	color: white;
	background: rgba(255,255,255,.1);
	cursor: pointer;
}

#wrapper
{
	max-width: 1200px;
	min-width: 1200px;
	height: 300px;
	position: relative;
	margin: 10px auto;
}

.number
{
	display: inline-block;
	text-shadow: black 0 0 8px;
	text-align: center;
}


.form-add
{
	position: absolute;
	display: inline-block;
	top: 0px;
	/*left: 200px;*/ 
	/*margin: 20px 10px;*/
	width: 300px;
	height: 280px;
	background: rgba(255,255,255,.1);
	color: white;
	border-radius: 20px;
	cursor: pointer;
}

.form-edit
{
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 400px;
	background: rgba(255,255,255,.1);
	color: white;
	font-size: 20px 30px;
	margin: 0px 0px;
	width: 400px;
	height: 280px;
	background: rgba(255,255,255,.1);
	border-radius: 20px;
	cursor: pointer;
}

.form-delete
{
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	background: rgba(255,255,255,.1);
	color: white;
	margin: 0px 10px;
	width: 300px;
	height: 280px;
	border-radius: 20px;
	cursor: pointer;
}

table
{
	width: 100%; 
    border: 6px double black;
    border-collapse: collapse; 
    color: white;
}

tr { 
    text-align: right;  
    padding: 5px; 
    border: 3px solid black; 
   }

td { 
    padding: 5px; 
    border: 3px solid black; 
   }



.pitted
{
	text-shadow: black 0 0 8px;
	text-align: center;
	color: white;
	/*display: inline-block;*/
}

input:focus, select:focus
{
	box-shadow: 0 0 10px rgba(255,255,255,0.8); 
	
}

input:hover
{
	cursor: pointer;
}

.form-output:hover,.form-delete:hover,
.form-edit:hover,.form-add:hover
{
	background: rgba(255,255,255,.2);
	box-shadow: 0 0 10px rgba(255,255,255,0.8);
}

body
{
	background: url(3.jpg);
	background-size: cover;

}
